*.iml
.gradle
/local.properties
!/.idea/copyright/
/.idea/workspace.xml
/.idea/libraries
/.idea/*.xml
/.idea/caches
/.idea/codeStyles
.DS_Store
/build
/captures
/keystore.properties
/app/*apk
/app/release
/gradle
/gradlew*
/doc
